
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_NoRowsFound</title>
</head>
<body>
    <div> 
        <img src="~/Content/images/NoRowFound.jpg" width="550px" alt="Alternate Text" />
    </div>
</body>
</html>
