
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction:column;
        }
        h1{
            font-family:sans-serif;
        }
    </style>
</head>
<body>
    <div> 
        <img src="~/Content/images/errorImg.gif" width="450px" alt="Alternate Text" />
        <h1 class="alert alert-danger text-danger">OOPS SOMETHINGS WENT WRONG</h1>
    </div>
</body>
</html>
